@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f1014;
    /* dash-bg */
    color: #e2e8f0;
    /* dash-text */
    font-family: 'Ubuntu', sans-serif;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}